/*    font-family: 'Aleo', serif;
    font-family: 'Josefin Sans', sans-serif;*/

header {
    min-height: 821px;
    width: 100%;
    background-image: url(../img/Image1.png);
    background-size: cover;
}

