header {
  max-width: 1770px;
  min-height: 821px;
  width: 100%;
  margin: auto;
  background-image: url(../img/Image1.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.header-container-text-top {
  max-width: 372px;
  min-height: 76px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-name {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  /* identical to box height, or 54% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-name-undertext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height, or 118% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 6.82px;
  color: #FFFFFF;
  margin-top: 13px;
}

.search-bar {
  max-width: 653px;
  min-height: 63px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  width: 503px;
  height: 63px;
  border: 2px #FFFFFF;
}

::-webkit-input-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

::-moz-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

:-ms-input-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

::-ms-input-placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

::placeholder {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}

.btn-search {
  width: 153px;
  height: 63px;
  background: #5474FD;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-search:hover {
  cursor: pointer;
}

.btn-search-text {
  width: 92px;
  height: 26px;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.fa-magnifying-glass {
  width: 22px;
  height: 24px;
}

.scroll-down {
  width: 108px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.btn-scroll-down {
  background-color: transparent;
  border: none;
}

.btn-scroll-down:hover {
  opacity: 0.5;
  cursor: pointer;
}

.scroll-down-text {
  width: 123px;
  height: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  letter-spacing: 2.8px;
  color: #FFFFFF;
}

.fa-angle-down {
  color: #FFFFFF;
}

.header-nav-menu {
  max-width: 1773px;
  width: 100%;
  min-height: 83px;
  background: #5474FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav-container {
  max-width: 1400px;
  width: 100%;
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-content-left {
  width: 186px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu-logo {
  width: 186px;
  height: 26px;
  left: 13px;
  top: 0px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-nav-content-right {
  max-width: 525px;
  width: 100%;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.nav-menu-text {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 15px;
}

a:link {
  text-decoration: none;
}

main {
  max-width: 1770px;
  min-height: 821px;
  width: 100%;
  margin: auto;
}

.section-one {
  max-width: 1770px;
  min-height: 685px;
  width: 100%;
  background-image: url(../img/image3.png);
  background-size: cover;
}

.section-one-container {
  max-width: 1770px;
  min-height: 685px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.section-one-items {
  width: 560px;
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.section-one-header {
  width: 288px;
  height: 26px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  color: #FFFFFF;
}

.section-one-text {
  width: 560px;
  height: 158px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.btn-section-one {
  max-width: 228px;
  min-height: 63px;
  width: 100%;
  background: #496BFE;
  border: none;
}

.btn-section-one:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-section-one-text {
  width: 179px;
  height: 26px;
  width: 100%;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-one-img {
  max-width: 439px;
  min-height: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.img-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section-two {
  max-width: 1773px;
  min-height: 340px;
  width: 100%;
  background: #333333;
}

.section-two-container {
  max-width: 1773px;
  min-height: 340px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-two-item-one {
  max-width: 353px;
  min-height: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.section-two-item-two {
  max-width: 200px;
  min-height: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.section-two-item-three {
  max-width: 215px;
  min-height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.section-two-text {
  width: 230px;
  height: 26px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #E8E8E8;
}

.group-one {
  max-width: 1770px;
  min-height: 700px;
  width: 100%;
  background-image: url(../img/image4.png);
}

.group-one-row {
  max-width: 1150px;
  min-height: 700px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-one-container {
  width: 543px;
  height: 374px;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-two {
  max-width: 1770px;
  min-height: 700px;
  width: 100%;
  background-image: url(../img/image7.png);
}

.group-two-row {
  max-width: 1150px;
  min-height: 700px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-two-container {
  width: 543px;
  height: 374px;
  background: #232323;
  mix-blend-mode: normal;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-text-title {
  max-width: 80px;
  min-height: 26px;
  width: 100%;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-bottom: 20px;
}

.group-header-text {
  width: 241px;
  height: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.group-text {
  width: 508px;
  height: 78px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #E8E8E8;
  margin-bottom: 20px;
}

.btn-group {
  width: 228px;
  height: 63px;
  background-color: #496BFE;
  border: none;
}

.btn-group:hover {
  cursor: pointer;
}

.btn-group-text {
  width: 130px;
  height: 26px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-four {
  max-width: 1770px;
  min-height: 731px;
  width: 100%;
  background-image: url(../img/image5.png);
}

.section-four-container {
  width: 1111px;
  height: 731px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-four-header-text {
  max-width: 390px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  /* identical to box height, or 72% */
  text-align: center;
  color: #FFFFFF;
}

.section-four-item-bottom {
  width: 1111px;
  height: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-four-item-text {
  width: 668px;
  height: 287px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-text-title {
  width: 150px;
  height: 26px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 130% */
  text-transform: uppercase;
  color: #FEFEFE;
}

.image-text {
  width: 581px;
  height: 165px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}

.fa-quote-left {
  color: #5474FD;
  font-size: 36px;
  margin-right: 10px;
}

footer {
  max-width: 1770px;
  min-height: 271px;
  width: 100%;
  margin: auto;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-items-logo {
  width: 196px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */
  letter-spacing: 3.36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}

.footer-icons {
  width: 166px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-facebook-f {
  width: 39px;
  height: 26px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.fa-twitter {
  width: 45px;
  height: 26px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.fa-linkedin-in {
  width: 45px;
  height: 26px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #5474FD;
}

.fa-youtube {
  width: 47px;
  height: 26px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

.fa-pinterest {
  width: 44px;
  height: 26px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}